/* Set the scroll behavior to smooth for smoother scrolling */
html {
    scroll-behavior: smooth;
}

/* Ensure the page stretches to the edge of the browser window */
body {
    margin: 0;
}

header,
footer {
    background-color: #4C956C;
    text-align: center;
    color: #FEFEE3;
    font-family: 'Alice', serif;
}

header {
    min-height: 100vh;
    display: flex;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: calc(1em + 3vw);
    padding-bottom: 0.67em;
    border-bottom: 1px solid;
    line-height: 1.3;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
}

.bio {
    font-size: 24px;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.myButton {
    border-radius: 28px;
    border: 1px solid #FEFEE3;
    cursor: pointer;
    color: #FEFEE3;
    font-size: 25px;
    padding: 16px 31px;
    text-decoration: none;
    margin: 1.69em auto;
}

.myButton:hover {
    background-color: #FFC9B9;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.container {
    margin: auto;
    background-color: #FEFEE3;
}

footer div {
    font-size: 20px;
    display: flex;
    align-content: center;
    padding: 10px 20px;
}

/* Responsive design for smaller screens */
@media all and (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
}
